<!DOCTYPE>

<head>
  <title>Transaction made on your First Electric Account</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
</head>

<body>

  <div class="canvas">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;background-color:#F9F9F9;"
      id="bodyTable">
      <tr>
        <td align="center" valign="top" style="padding-right:10px;padding-left:10px;" id="bodyCell">
          <table align="center" border="0" cellspacing="0" cellpadding="0" style="width:600px;" width="600">
            <tr>
              <td align="center" valign="top">

                <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
                  class="wrapperWebview">
                  <tr>
                    <td align="center" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="right" valign="middle" style="padding-top:20px;padding-right:0px;" class="webview">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
                  class="wrapperWebview">
                  <tr>
                    <td align="center" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td align="center" valign="middle" style="padding-top:40px;padding-bottom:40px"
                            class="emailLogo">
                            <a href="#" target="_blank" style="text-decoration:none;">
                              <img
                                src="https://res.cloudinary.com/geoabbey/image/upload/v1576797086/First%20Electric/logo_bywmj4.png"
                                alt="" width="200" border="0"
                                style="width:100%; max-width:200px;height:auto; display:block;" />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
                  class="wrapperBody">
                  <tr>
                    <td align="left" valign="top">

                      <table border="0" cellpadding="0" cellspacing="0"
                        style="background-color:#FFFFFF;border-color:#E5E5E5; border-style:solid; border-width:0 1px 1px 1px;"
                        width="100%" class="tableCard">

                        <tr>
                          <td height="3" style="background-color:#F8C422;font-size:1px;line-height:3px;"
                            class="topBorder">&nbsp;
                          </td>
                        </tr>


                        <tr>
                          <td align="center" valign="top" style="padding-bottom:20px" class="imgHero">
                            <a href="#" target="_blank" style="text-decoration:none;">
                              <img
                                src="http://weekly.grapestheme.com/notify/img/hero-img/blue/heroFill/user-welcome.png"
                                width="600" alt="" border="0"
                                style="width:100%; max-width:600px; height:auto; display:block;" />
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td align="left" valign="top" style="padding-bottom:5px;padding-left:40px;padding-right:40px;"
                            class="mainTitle">
                            <h2 class="text"
                              style="color:#000000; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:15px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:36px; text-transform:none; text-align:center; padding:0; margin-bottom:20px">
                              <u><b>Transaction Successful</b></u>
                            </h2>
                          </td>
                        </tr>

                        <tr>
                          <td align="left" valign="top" style="padding-bottom:5px;padding-left:40px;padding-right:40px;"
                            class="mainTitle">
                            <h2 class="text"
                              style="color:#000000; font-family:'Poppins', Helvetica, Arial, sans-serif; font-size:20px; font-weight:500; font-style:normal; letter-spacing:normal; line-height:36px; text-transform:none; text-align:center; padding:0; margin:0">
                              Token: <%= recieptNumber %>
                            </h2>
                          </td>
                        </tr>

                        <tr>
                          <td align="left" valign="top" style="padding-left:40px;padding-right:40px;"
                            class="containtTable">


                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                              class="tableTitleDescription">
                              <tr>
                                <td align="left" valign="top" style="padding-bottom:20px;" class="description">
                                  <div class="text"
                                    style="color:#666666; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:22px; text-transform:none; text-align:left; padding:0; margin:15px auto 0 auto">

                                    <p>Date: <b><%= transactionDate %></b></p>
                                    <p>Transaction Ref: <b><%= reference %></b></p>
                                    <p>Paid amount: <b><%= paidamount %></b></p>
                                    <p>Cost of electricity: <b><%= costOfUnit %></b></p>
                                    <p>VAT: <b><%= vat %></b></p>
                                    <p>Tariff: <b><%= tariff %></b></p>
                                    <p>Units: <b><%= unit %></b></p>

                                  </div>
                                </td>
                              </tr>
                            </table>

                          </td>
                        </tr>

                        <tr>
                          <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
                        </tr>

                        <tr>
                          <td height="20" style="font-size:1px;line-height:1px;">&nbsp;</td>
                        </tr>
                      </table>
                      <!-- Table Card Close// -->

                      <!-- Space -->
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="space">
                        <tr>
                          <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%"
                  class="wrapperFooter">
                  <tr>
                    <td align="center" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="footer">
                        <tr>
                          <td align="center" valign="top"
                            style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;"
                            class="socialLinks">
                            <a href="https://web.facebook.com/firstelectricco/" target="_blank"
                              style="display:inline-block;" class="facebook">
                              <img src="http://weekly.grapestheme.com/notify/img/social/light/facebook.png" alt=""
                                width="40" border="0"
                                style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px" />
                            </a>
                            <a href="#" style="display:inline-block;" class="twitter">
                              <img src="http://weekly.grapestheme.com/notify/img/social/light/twitter.png" alt=""
                                width="40" border="0"
                                style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px" />
                            </a>
                            <a href="https://www.instagram.com/firstelectricco/" target="_blank"
                              style="display:inline-block;" class="instagram">
                              <img src="http://weekly.grapestheme.com/notify/img/social/light/instagram.png" alt=""
                                width="40" border="0"
                                style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px" />
                            </a>
                          </td>
                        </tr>

                        <tr>
                          <td align="center" valign="top"
                            style="padding-top:10px;padding-bottom:5px;padding-left:10px;padding-right:10px;"
                            class="brandInfo">
                            <p class="text"
                              style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                              &copy; First Electric&nbsp;2nd Floor, Plot 5, Chief Yesuf
                              Abiodun Street, Oniru Road, Victoria Island, Lagos, Nigeria.
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td align="center" valign="top"
                            style="padding-top:0px;padding-bottom:10px;padding-left:10px;padding-right:10px;"
                            class="footerEmailInfo">
                            <p class="text"
                              style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                              If you have any quetions please contact us <a href="#"
                                style="color:#777777;text-decoration:underline;"
                                target="_blank">info@firstelectricco.com</a>
                            </p>
                          </td>
                        </tr>

                        <tr>
                          <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                  </tr>

                  <tr>
                    <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>


</body>